*{
    padding: 0px;
    margin: 0px;

}
.nav-bar-container{
    background-color: #1C2B35;

}
.nav-bar{
    display: flex;
    margin: 0px auto ;
    padding: 20px 0px;
    max-width: 1440px;
    justify-content: end;
    
}
.nav-bar a{
    padding: 10px;
    color:#fff;
    font-size: 18px;
    margin-right: 20px;
    text-decoration: none;
}